<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-searchbar showCancelButton="focus" [(ngModel)]="query" (keyup)="search($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding class="bg-class">
  <ion-grid style="height: 100%">

    <ion-row class="ion-justify-content-center" style="flex-direction: column">
      <div *ngIf="data | async as dt ">
        <ion-segment (ionChange)="segmentChanged($event)" color="light" value="all">
          <ion-segment-button value="all">
            <ion-label>All</ion-label>
          </ion-segment-button>
          <ion-segment-button value="cities">
            <ion-label>Cities</ion-label>
          </ion-segment-button>
          <ion-segment-button value="stations">
            <ion-label>Places</ion-label>
          </ion-segment-button>
        </ion-segment><br>
        <ion-item *ngIf="showCities">Cities</ion-item>
        <ion-list *ngIf="showCities">
          <ion-item *ngFor="let item of dt.cities" (click)="pushSearch(item.id,'cities',item.name)"
            routerLink="/tabs/home" routerDirection="back">
            <ion-icon name="pin"></ion-icon>
            <ion-text style="margin-top: 5px; margin-bottom: 5px;">&nbsp;&nbsp;{{ item.name }}</ion-text>
          </ion-item>
        </ion-list>
        <ion-item *ngIf="showPlaces">Places</ion-item>
        <ion-list *ngIf="showPlaces">
          <ion-item *ngFor="let item of dt.stations" (click)="pushSearch(item.id,'stations',item.name)"
            routerLink="/tabs/home" routerDirection="back">
            <ion-text style="margin-top: 5px; margin-bottom: 5px;">&nbsp;&nbsp;{{ item.name }}</ion-text>
          </ion-item>
        </ion-list>
      </div>
    </ion-row>

  </ion-grid>

</ion-content>