<ion-header>
</ion-header>

<ion-content>
  <div [ngClass]="bg">
    <ion-grid style="height: 80%">
      <ion-button color="light" fill="clear" style="margin-top: 30px" shape="round" routerLink="/search/"
        routerDirection="forward">
        <ion-icon name="search"></ion-icon>&nbsp;SEARCH
      </ion-button>
      <ion-row class="ion-justify-content-center" style="height: 100%; flex-direction: column">
        <div class='ion-padding' *ngIf="!isFetching" style="text-align: center;">
          <p style="font-size: 25px; text-overflow: ellipsis;">{{name}}</p><br><br>
          <p style="font-size: 60px">{{aqi}}</p>
          <p style="font-size: 20px">{{level}}</p><br><br><br>
          <p style="font-size: 20px" *ngIf="pm10!==undefined">PM 10 | {{pm10}} µg/m³</p>
          <p style="font-size: 20px" *ngIf="pm25!==undefined">PM 2.5 | {{pm25}} µg/m³</p>


          <div class="ion-padding">
            <ion-button expand="block" color="light" fill="outline" (click)="addplaces()"
              [disabled]="!isLogin || isSaved">SAVE</ion-button>
          </div>
        </div>
        <div class="ion-padding" *ngIf="isFetching">
          <ion-spinner style="width: 100%" name="crescent" color="light"></ion-spinner>
        </div>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>