.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.default {
  background: linear-gradient(-45deg, #3ab5b0, #3d99be, #56317a);
  background-size: 200% 200%;
  animation: FadeAnimation 10s ease infinite;
  width: 100%;
  height: 100%;
}

.level1 {
  background: linear-gradient(-45deg, #b5ac49 30%, #3ca55c 100%);
  background-size: 200% 200%;
  animation: FadeAnimation 5s ease infinite;
  width: 100%;
  height: 100%;
}

.level2 {
  background: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
  background-size: 200% 200%;
  animation: FadeAnimation 5s ease infinite;
  width: 100%;
  height: 100%;
}

.level3 {
  background: linear-gradient(-45deg, #ff9604 30%, #f85514 100%);
  background-size: 200% 200%;
  animation: FadeAnimation 5s ease infinite;
  width: 100%;
  height: 100%;
}

.level4 {
  background: linear-gradient(-45deg, #c6426e 30%, #642b73 100%);
  background-size: 200% 200%;
  animation: FadeAnimation 5s ease infinite;
  width: 100%;
  height: 100%;
}

.level5 {
  background: linear-gradient(-45deg, #8d6475 30%, #7e1fccc9 100%);
  background-size: 200% 200%;
  animation: FadeAnimation 5s ease infinite;
  width: 100%;
  height: 100%;
}

.level6 {
  background: linear-gradient(-45deg, #a71d31 30%, #3f0d12 100%);
  background-size: 200% 200%;
  animation: FadeAnimation 5s ease infinite;
  width: 100%;
  height: 100%;
}

.header {
  --color: light;
}

.font {
  --font-size: 300px;
}

ion-content {
  --overflow: hidden;
}

p {
  color: white;
  margin: 0px;
  padding: 0px;
}

@keyframes FadeAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
