.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.bg-class1 {
  --background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%) !important;
}

.bg-class2 {
  --background: linear-gradient(to top, #f6d365 0%, #f09819 100%) !important;
}

.bg-class3 {
  --background: linear-gradient(-60deg, #ff5858 0%, #f09819 100%) !important;
}

.bg-class4 {
  --background: linear-gradient(to top, #ff0844 0%, #ffb199 100%) !important;
}

.bg-class5 {
  --background: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%) !important;
}

.bg-class6{
  --background: linear-gradient(45deg, #874da2 0%, #c43a30 100%) !important; 
}

.header{
  --color: light;
}

.font{
  --font-size: 300px;
}

ion-toolbar {
  --background-color: transparent;
  --ion-color-base: transparent !important;
}

ion-content {
  --overflow: hidden;
}