<ion-header>
</ion-header>

<ion-content padding class="bg-class">
  <ion-grid style="height: 100%" *ngIf="isLogin">
    <ion-row class="ion-justify-content-center" style="height: 100%; flex-direction: column">

      <div class="ion-padding">
        <ion-icon class="iconLogged" color="light" name="sunny"></ion-icon>
      </div>

      <div class="ion-padding" style="text-align: center;">
        <ion-text style="font-size: 30px" color="light">Hello, {{account}}</ion-text><br>
        <ion-text style="font-size: 16px" color="light">Stay healthy <ion-icon name="happy" color="light"></ion-icon>
        </ion-text>
      </div>

      <div class="ion-padding">
        <ion-button expand="block" color="light" fill="clear" shape="round" (click)="logout()">LOGOUT</ion-button>
      </div>

    </ion-row>
  </ion-grid>

  <ion-grid style="height: 100%" *ngIf="!isLogin">
    <ion-row class="ion-justify-content-center" style="height: 100%; flex-direction: column">

      <div class="ion-padding">
        <ion-icon style="width: 100%" class="iconSize" color="light" name="person"></ion-icon>
      </div>

      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item>
          <ion-input required type="text" minlength="3" maxlength="16" placeholder="Username" [(ngModel)]="usr"
            disabled="{{isSending}}"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input required type="password" minlength="3" maxlength="16" placeholder="Password" [(ngModel)]="pwd"
            disabled="{{isSending}}"></ion-input>
        </ion-item>
      </ion-list>

      <div class="ion-padding">
        <ion-button expand="block" color="light" fill="clear" shape="round" (click)="login(usr,pwd)"
          disabled="{{isSending}}">LOGIN</ion-button>
        <ion-button expand="block" color="light" fill="clear" shape="round" routerLink="/signup/"
          routerDirection="forward">SIGNUP</ion-button>
      </div>

      <div *ngIf="isSending" class="ion-padding">
        <ion-spinner style="width: 100%" name="crescent" color="light"></ion-spinner>
      </div>

    </ion-row>
  </ion-grid>
</ion-content>